div.pane-main{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

ul{
    background-color: rgba(135, 206, 250, 0.7);
    display: flex;
    height: fit-content;
    width: fit-content;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    list-style-type: none;

    border: 1px solid var(--light-blue);
    border-radius: 5px;
}

li{
    margin: 15px 0;
    color: var(--dark-blue);
    font-size: 1.5em;
}