.home-button{
    background-color: rgba(255, 255, 0, 0.25);
    border: 2px solid var(--red);
    padding: 2vh 2vw;
    color: var(--red);
    font-size: 2em;
    text-decoration-line: none;
}

.home-button:hover{
    font-weight: bold;
    background-color: var(--orange);
}